<% if (displayButton) { %>
    <% if (buttonType === 'pick') { %>
        <span class="rn_BestAnswerAssignment rn_UserType<%= userType %>">
            <rn:block id="prePickBestAnswerButton"/>
            <% if (userType === "Author" || userType === "Both") { %>
            <button type="button" data-commentid="<%= bestAnswer.commentID %>" title="<%= labels.label_mark_best_answer_author_tooltip %>">
                <rn:block id="pickBestAnswerButtonTextAuthor">
                    <%= labels.label_best_answer_action_author %>
                </rn:block>
            <% } else if (userType === "Moderator" || userType === "Both") { %>
            <button type="button" data-commentid="<%= bestAnswer.commentID %>" title="<%= labels.label_mark_best_answer_moderator_tooltip %>">
                <rn:block id="pickBestAnswerButtonTextModerator">
                    <%= labels.label_best_answer_action_moderator %>
                </rn:block>
            <% } %>
            </button>
            <rn:block id="postPickBestAnswerButton"/>
        </span>
    <% } else if (buttonType === 'remove') { %>
        <span class="rn_BestAnswerRemoval rn_UserType<%= userType %>">
            <rn:block id="preRemoveBestAnswerButton"/>
            <% if (userType === "Author" || userType === "Both") { %>
            <button type="button" data-commentid="<%= bestAnswer.commentID %>" title="<%= labels.label_unmark_best_answer_author_tooltip %>">
                <rn:block id="removeBestAnswerButtonTextAuthor">
                    <%= labels.label_unmark_best_answer_author %>
                </rn:block>
            <% } else if (userType === "Moderator" || userType === "Both") { %>
            <button type="button" data-commentid="<%= bestAnswer.commentID %>" title="<%= labels.label_unmark_best_answer_moderator_tooltip %>">
                <rn:block id="removeBestAnswerButtonTextModerator">
                    <%= labels.label_unmark_best_answer_moderator %>
                </rn:block>
            <% } %>

            </button>
            <rn:block id="postRemoveBestAnswerButton"/>
        </span>
    <% } %>
<% } %>
