<rn:block id="listTop"/>
<% for (var i = 0; i < topicWordItems.length; i++) { %>
    <rn:block id="listItem">
    <dt>
    <% if(!RightNow.Url.isExternalUrl(topicWordItems[i].url))
           topicWordItems[i].url += linkString;
       if(attrs.icon_path) { %>
        <img alt="" class="rn_FileTypeIcon" src="<%= attrs.icon_path %>">
    <% } else if(attrs.display_icon) { %>
        <%= topicWordItems[i].icon %>
    <% } %>
        <a href="<%= topicWordItems[i].url %>" target="<%= attrs.target %>" ><%= topicWordItems[i].title %></a>
    </dt>
    <dd>
        <%= topicWordItems[i].text %>
    </dd>
    </rn:block>
<% } %>
<rn:block id="listBottom"/>
