<rn:block id="prePromptForm"/>
<form method='post' onsubmit='javascript:void(0);'>
    <%= promptLabel %>
    <label class='rn_EmailLabel' for='<%= inputID %>'>
        <%= inputLabel %>
        <%= getRequiredLabel() %>
    </label>
    <rn:block id="preEmailInput"/>
    <input type='email' id='<%= inputID %>' maxlength='80' class='rn_EmailInput'/>
    <rn:block id="postEmailInput"/>
</form>
<rn:block id="postPromptForm"/>