<fieldset>
    <legend>
        <span class="rn_ScreenReaderOnly"><%= accessibleText %></span>
    </legend>
<% for (var i = 0, altText; i < responses.length; i++) { %>
    <div>
        <label for="<%= id + responses[i].responseID %>">
            <% altText = (!responses[i].showCaption) ? responses[i].text : ""; %>
            <img src="/ci/fattach/get/<%= responses[i].imageID %>" alt="<%= altText %>"/>
            <span class="rn_ImageCaption">
                <input type="radio" data-level="<%= level %>" data-guide="<%= guideID %>" data-question="<%= questionID %>" data-response="<%= responses[i].responseID %>" id="<%= id + responses[i].responseID %>" name="<%= id + '_' + questionID %>" value="<%= responses[i].responseID %>"/>
                <% if (responses[i].showCaption) { %>
                <%= responses[i].text %>
                <% } %>
            </span>
        </label>
    </div>
<% } %>
</fieldset>