<fieldset>
    <legend>
        <span class="rn_ScreenReaderOnly"><%= accessibleText %></span>
    </legend>
<% for (var i = 0, inputID; i < responses.length; i++) { %>
    <div>
        <% inputID = id + responses[i].responseID; %>
        <input class="<%= className %>" tabindex="-1" type="radio" data-level="<%= level %>" data-guide="<%= guideID %>" data-question="<%= questionID %>" data-response="<%= responses[i].responseID %>" id="<%= inputID %>" name="<%= id + '_' + questionID %>" value="<%= responses[i].responseID %>"/>
        <label for="<%= inputID %>"><a href="javascript:void(0)" onclick="document.getElementById('<%= inputID %>').click(); return false;"><%= responses[i].text %></a></label>
    </div>
<% } %>
</fieldset>