<label class="rn_Label" for="<%= id %>">
    <%= responseText %>
    <%= getRequiredLabel() %>
</label>
<input type="text" id="<%= id %>" maxlength="255" aria-required="true"/>
<button data-level="<%= level %>" data-guide="<%= guideID %>" data-question="<%= questionID %>" data-response="<%= responseID %>"><%= label %></button>