<rn:block id="preResultList"/>
<% if (row_num) { %>
    <ol start='<%= start_num %>'>
<% } else { %>
    <ul>
<% } %>
<rn:block id="topResultList"/>
<% for (var i = 0; i < data.length; i++) { %>
    <rn:block id="resultListItem">
    <li>
        <% for (var j = 0; j < headers.length; j++) {
            var value = data[i][j];

            if (typeof hide_columns !== 'undefined' && hide_columns.indexOf(headers[j].col_definition) !== -1) {
                continue;
            }

            if ((typeof headers[j].visible === 'undefined' || headers[j].visible)
                && (!hide_empty_columns || !(value === null || value === '' || value === false))) {
                if (j < 3) {
                    if (j === 0) { %>
                        <div class='rn_Element<%=j+1%>'><h3><%= value %></h3></div>
                    <% }
                    else { %>
                        <span class='rn_Element<%=j+1%>'><%= value %></span>
                    <% }
                }
                else { %>
                    <span class='rn_ElementsHeader'><%= ((headers[j].heading) ? headers[j].heading + ':' : '') %></span>
                    <span class='rn_ElementsData'><%= value %></span>
                <% }
            }
        } %>
    </li>
    </rn:block>
<% } %>
<rn:block id="bottomResultList"/>
<% if (row_num) { %>
    </ol>
<% } else { %>
    </ul>
<% } %>
<rn:block id="postResultList"/>