<% var contentActionKeys = contentActions ? Object.keys(contentActions) : null;%>
<% var userActionKeys = userActions ? Object.keys(userActions) : null;%>
<div class="rn_Dropdown">
    <rn:block id="preDropdownActionList"/>
    <ul>
        <% for (var i = 0; i < (contentActionKeys ? contentActionKeys.length : 0); i++) { %>
            <rn:block id="preDropdownContentActionListItem"/>
                <li>
                    <a href="javascript:void(0);" class="rn_Action" role="button" data-action-id="<%= contentActions[contentActionKeys[i]] %>" data-object-type="<%= socialContentObjectType %>"><span><%= contentActionKeys[i] %></span></a>
                </li>
            <rn:block id="postDropdownContentActionListItem"/>
        <% } %>
        <% for (var i = 0; i < (userActionKeys ? userActionKeys.length : 0); i++) { %>
            <rn:block id="preDropdownUserActionListItem"/>
                <li>
                    <a href="javascript:void(0);" class="rn_Action" role="button" data-action-id="<%= userActions[userActionKeys[i]] %>" data-object-type="SocialUser"><span><%= userActionKeys[i] %></span></a>
                </li>
            <rn:block id="postDropdownUserActionListItem"/>
        <% } %>
    </ul>
    <rn:block id="postDropdownActionList"/>
</div>