<div class="rn_ImageDisplay">
    <div class="rn_ClickToChooseText" tabindex="0">
        <%= js.editingOwnAvatar ? attrs.label_click_to_choose_avatar_library : attrs.label_click_to_choose_avatar_library_user %>
    </div>
    <a href="javascript:void(0);" class="rn_CloseGallery" tabindex="-1">
        <span class="rn_ScreenReaderOnly" aria-live="polite"><%= attrs.label_close_avatar_library %></span>
    </a>
    <div class="rn_ProfilePictures">
        <% for(var i = 0; i < attrs.avatar_library_page_size; i++) { 
            if(files[(currentPage - 1) * attrs.avatar_library_page_size + i]) { 
                var fileName = files[(currentPage - 1) * attrs.avatar_library_page_size + i].split('/'); 
                var titleValue =  fileName[1].substring(0, fileName[1].lastIndexOf('.')); 
                var imgTitle = (attrs.avatar_library_hint_enable) ? 'title=' + titleValue: ''; %>
                <div class="rn_UserAvatar">
                    <img class="rn_Large" src="<%= attrs.avatar_library_image_location_gallery + files[(currentPage - 1) * attrs.avatar_library_page_size + i] %>" data-name="<%= files[(currentPage - 1) * attrs.avatar_library_page_size + i] %>" <%= imgTitle %> alt="<%= titleValue %>" role="button" tabindex="0"/>
                </div>
            <% } %>
        <% } %>
    </div>
    <% if(numberOfPages > 1) { %>
        <div class="rn_ImagePaginator">
            <a href="javascript:void(0);" class="<%= 'rn_PreviousPage' + ((firstPage === 1) ? ' rn_Hidden' : '') %>" title="<%= attrs.label_previous_link %>" aria-label="<%= attrs.label_previous_link %>"><%= "<<" %></a>
            <span class="rn_CurrentPages">
                <% for (var pageNumber = firstPage; pageNumber <= lastPage; pageNumber++) { 
                    var title = RightNow.Text.sprintf(attrs.label_page, pageNumber, numberOfPages); %>
                    <a href="javascript:void(0);" data-rel="<%= pageNumber %>" title="<%= title %>" aria-label="<%= title %>" class="<%= 'rn_CurrentPage' + pageNumber %>"><%= pageNumber %></a>
                <% } %>
            </span>
            <a href="javascript:void(0);" class="<%= 'rn_NextPage' + ((lastPage === numberOfPages) ? ' rn_Hidden' : '') %>" title="<%= attrs.label_next_link %>" aria-label="<%= attrs.label_next_link %>"><%= ">>" %></a>
        </div>
    <% } %>
</div>