<div id='<%= divID %>' class='rn_Filter'>
    <rn:block id="preRemoveFilterLink"/>
        <span class="rn_FilterItem rn_Selected"><%= label %>
            <a role="button" id='<%= removeLinkID %>' title='<%= labelFilterRemove %>' tabindex="0" href="javascript:void(0);"></a>
        </span>
    <rn:block id="postRemoveFilterLink"/>
    <rn:block id="preInnerLoop"/>
    <% for(var i = 0; i < filterData.length; i++) { %>
        <rn:block id="preFilterLink"/>
        <span id="<%=filterData[i].linkID %>" class="rn_FilterItem rn_FilterItem_<%= (filterType && filterType.length > 0)? filterType.charAt(0).toUpperCase() :'0' %>">
            <%= filterData[i].label %>
        </span>
        <rn:block id="postFilterLink"/>
    <% } %>
    <rn:block id="postInnerLoop"/>
</div>
