<rn:block id="preDialog"/>
<div id="<%= inputID %>" class="rn_Input rn_MobileProductCategoryInput rn_Level<%= level %>">
     <rn:block id="dialogTop"/>
<% for (var i = 0; i < data.length; i++) { %>
    <div class="<%= getContainerClass(data[i], i) %>">
        <input type="radio" id="<%= inputID %>_<%= (i + 1) %>" value="<%= data[i].id %>"/>
        <% labelClass = getLabelClass(data[i]) %>
        <label class="<%= labelClass %>" id="<%= labelID %>_<%= (i + 1) %>" for="<%= inputID %>_<%= (i + 1) %>"><%= escapeHtml(data[i].label) %>
        <% if (labelClass === "rn_HasChildren") { %><span class="rn_ParentMenuAlt"> <%= parentAlt %></span><% } %>
        </label>
    </div>
<% } %>
   <rn:block id="dialogBottom"/>
</div>
<rn:block id="postDialog"/>