<% if (targetUrl) { %>
  <rn:block id="preUrl"/>
  <a href="<%= targetUrl %>" target="_blank">
<% } %>

<% if (imageUrl) { %>
  <rn:block id="preImage"/>
  <img src="<%= imageUrl %>" alt="<%= tooltip %>" title="<%= tooltip %>" />
  <rn:block id="postImage"/>
<% } else { %>
  <% if (title) { %>
    <rn:block id="preTitle"/>
    <span class="rn_Title"><%= title %></span>
    <rn:block id="postTitle"/>
  <% } %>

  <% if (description) { %>
    <rn:block id="preDescription"/>
    <span class="rn_Description"><%= description %></span>
    <rn:block id="postDescription"/>
  <% } %>
<% } %>

<% if (targetUrl) { %>
  </a>
  <rn:block id="postUrl"/>
<% } %>