<rn:block id="preNavigationLink"/>
<li>
    <a href="<%= href %>" data-rel="<%= rel %>" rel="<%= rel %>" class="<%= className %>">
        <% if (label) { %>
        <span><%= label %></span>
        <% } %>
    </a>
</li>
<rn:block id="postNavigationLink"/>
