<% for (var i = 0; i < currentLevel; i++) { %>
    <% if (i === (currentLevel - 1)) { %>
        <rn:block id="preCurrentLevelBreadCrumb"/>
        <span class="rn_CurrentLevelBreadCrumb">
            <% if (i === 0) { %>
                &nbsp;
            <% } else { %>
                <%= levels[i].label %>
            <% } %>
        </span>
        <rn:block id="postCurrentLevelBreadCrumb"/>
    <% } else { %>
        <% if (disallowBackNavigation) { %>
            <rn:block id="preBreadCrumbLevel"/>
            <span class="rn_BreadCrumbLevel">
                <%= levels[i].label %>
            </span>
            <rn:block id="postBreadCrumbLevel"/>
        <% } else { %>
            <rn:block id="preBreadCrumbLink"/>
            <a data-id="<%= levels[i].id %>" data-level="<%= i %>" class="rn_BreadCrumbLink" href="javascript:void(0);">
                <%= levels[i].label %>
            </a>
            <rn:block id="postBreadCrumbLink"/>
        <% } %>
        <rn:block id="preBreadCrumbSeparator"/>
        <span class="rn_BreadCrumbSeparator">></span>
        <rn:block id="postBreadCrumbSeparator"/>
    <% } %>
<% } %>
