<ul class="rn_List">
    <% if (header !== '' && show_headers) { %>
        <h3><%= header %></h3>
    <% } %>
    <% for (var i=0; i < data.length; i++) { %>
        <li>
            <a href="<%= url %>/a_id/<%= data[i].answerID %>/answer_data/<%= data[i].encryptedTitle %>"><%= data[i].title %></a>
        </li>
    <% } %>
</ul>