<div id="<%= spanID %>" class="rn_Answer rn_AnswerDetail rn_Hidden">
    <% if(discussion) { %>
        <span class="rn_UserAvatar rn_UserAvatarLeft rn_SocialQuestionAuthor">
            <%= getDefaultAvatar({'avatarUrl': avatarURL, 'size': 48, 'displayName': displayName, 'isActive': !(userStatus in js.statuses.suspended), 'className': 'rn_Medium'})%>
            <span class="rn_DisplayName" itemprop="name"><%= displayName %></span>
        </span>
        <span class="rn_OpenDiscussionLinkText">
        <a href="<%= '/app/' + RightNow.Interface.getConfig('CP_SOCIAL_QUESTIONS_DETAIL_URL') + '/qid/' + objectID + sessionParam %>">
            <%= RightNow.Interface.getMessage('OPEN_THIS_ENTIRE_DISCUSSION_NEW_WINDOW_MSG') %>
        </a>
    </span>
        <span class="rn_AnswerDiscussionSummary"><%= discussion %></span>
    <% } %>
    <% if(bestAnswerExists) { %>
      <ul class="rn_Solution_List">
      <% for(var objKey in solution) { %>
            <% if(solution[objKey].SocialQuestionComment.Body) { %>
            <li class="rn_BestAnswerImage">
                <span class="rn_UserAvatar rn_UserAvatarLeft rn_SocialQuestionCommentAuthor">
                    <%= getDefaultAvatar({'avatarUrl': solution[objKey].SocialQuestionComment.CreatedBySocialUser.AvatarURL, 'size': 48, 'displayName': solution[objKey].SocialQuestionComment.CreatedBySocialUser.DisplayName, 'isActive': !(solution[objKey].SocialQuestionComment.CreatedBySocialUser.StatusWithType.Status.ID in js.statuses.suspended), 'className': 'rn_Medium'})%>
                    <span class="rn_DisplayName" itemprop="name"><%= solution[objKey].SocialQuestionComment.CreatedBySocialUser.DisplayName %></span>
                </span>
                <span class="rn_DiscussionSolution"><%= solution[objKey].SocialQuestionComment.Body %></span>
            </li>
            <% } } %>
      </ul>
    <% } %>
    <span class="rn_OpenDiscussionLinkText">
        <a href="<%= '/app/' + RightNow.Interface.getConfig('CP_SOCIAL_QUESTIONS_DETAIL_URL') + '/qid/' + objectID + sessionParam %>">
            <%= RightNow.Interface.getMessage('OPEN_THIS_ENTIRE_DISCUSSION_NEW_WINDOW_MSG') %>
        </a>
    </span>
</div>
