<div id='<%= divID %>' class='rn_Filter'>
    <div class='rn_Label'><%= label %>
        <rn:block id="preRemoveFilterLink"/>
        <a id='<%= removeLinkID %>' title='<%= labelFilterRemove %>' href='javascript:void(0);'>
        <% if (removeIconPath) { %>
            <img src='<%= removeIconPath %>' alt='<%= labelFilterRemove %>'/>
        <% } else { %>
            <%= labelFilterRemove %>
        <% } %>
        </a>
        <rn:block id="postRemoveFilterLink"/>
    </div>
    <rn:block id="preInnerLoop"/>
        <% for(var i = 0; i < filterData.length; i++) {
            var selectionClass = (i === filterData.length - 1) ? 'rn_Selected' : ''; %>
            <rn:block id="preFilterLink"/>
            <% if (i === filterData.length - 1) { %>
                <span id="<%= filterData[i].linkID %>" class="rn_FilterItem <%= selectionClass %>"><%= filterData[i].label %></span>
            <% } else { %>
                <a id="<%= filterData[i].linkID %>" href="<%= filterData[i].linkUrl %>" class="rn_FilterItem <%= selectionClass %>">
                <%= filterData[i].label %>
                </a>
            <% } %>
            <rn:block id="postFilterLink"/>
            <span class="rn_Separator <%= selectionClass %>"></span>
        <% } %>
    <rn:block id="postInnerLoop"/>
</div>
