<rn:block id="preValidateLabel"/>
<label for="rn_<%= instanceID %>_<%= fieldName %>_Validate" id="rn_<%= instanceID %>_<%= fieldName %>_LabelValidate" class="rn_Label">
<%= label %>
<% if (required) { %>
    <rn:block id="preValidateRequired"/>
    <span class="rn_Required"> <%= requiredMarkLabel %></span><span class="rn_ScreenReaderOnly"><%= requiredLabel %></span>
    <rn:block id="postValidateRequired"/>
<% } %>
</label>
<rn:block id="postValidateLabel"/>