<% if (label) { %>
    <rn:block id="preLabel"/>
    <label for="rn_<%= instanceID %>_<%= fieldName %>" id="rn_<%= instanceID %>_Label" class="rn_Label">
    <%= label %>
    <% if (required) { %>
        <rn:block id="preRequired"/>
        <span class="rn_Required"> <%= requiredMarkLabel %></span><span class="rn_ScreenReaderOnly"><%= requiredLabel %></span>
        <rn:block id="postRequired"/>
    <% } %>
    </label>
    <rn:block id="postLabel"/>
<% } %>