<div class="rn_Heading">
    <rn:block id="preIntro"/>
    <div class="rn_Intro" aria-describedby="rn_<%= instanceID %>_Requirements">
        <div class="rn_Text"><%= title %></div>
        <span class="rn_ScreenReaderOnly"><%= passwordRequirementsLabel %></span>
    </div>
    <rn:block id="postIntro"/>
    <rn:block id="preStrengthMeter"/>
    <div class="rn_Strength rn_Hidden">
        <div class="rn_Meter" aria-describedby="rn_<%= instanceID %>_MeterLabel"></div>
        <label id="rn_<%= instanceID %>_MeterLabel"></label>
    </div>
    <rn:block id="postStrengthMeter"/>
</div>
<rn:block id="preRequirements"/>
<ul class="rn_Requirements" aria-live="assertive" id="rn_<%= instanceID %>_Requirements">
    <% for (var i in validations) { %>
        <% if (!validations.hasOwnProperty(i)) continue; %>
        <li data-validate="<%= i %>">
            <span class="rn_ScreenReaderOnly"></span>
            <%= validations[i].label %>
        </li>
    <% } %>
</ul>
<rn:block id="postRequirements"/>
