<rn:block id="preNewComment"/>
<div id="<%=domPrefix + '_' + containerID + commentID%>" class="rn_NewComment">
    <rn:block id="preNewCommentInput"/>
    <label for="<%=domPrefix%>_Reply<%=commentID%>" class="rn_ScreenReaderOnly"><%=commentLabel%></label>
    <textarea id="<%=domPrefix%>_Reply<%=commentID%>"><%=existingText%></textarea>
    <rn:block id="postNewCommentInput"/>

<% if(!editMode && notifyLabel){ %>
    <rn:block id="preNewCommentNotify"/>
    <input type="checkbox" id="<%=domPrefix%>_Notify<%=commentID%>">&nbsp;
    <label for="<%=domPrefix%>_Notify<%=commentID%>"><%=notifyLabel%></label><br>
    <rn:block id="postNewCommentNotify"/>
<% } %>

<div id="<%=domPrefix%>_ResponseContainer<%=commentID%>">
    <div id="<%=domPrefix%>_ResponseContent<%=commentID%>">
        <rn:block id="preNewCommentButtons"/>
        <button data-action="<%=submitAction%>" data-commentID="<%=commentID%>"><%=submitLabel%></button>
        <button data-action="<%=cancelAction%>" data-commentID="<%=commentID%>"><%=cancelLabel%></button>
        <rn:block id="postNewCommentButtons"/>
    </div>
</div>
<rn:block id="postNewComment"/>