<ul class="rn_List">
    <% if (header !== '' && show_headers) { %>
        <h2><%= header %></h2>
    <% } %>
    <% for (var i=0; i < data.length; i++) { %>
        <li>
            <a class="rn_Title" href="<%=url %>/a_id/<%= data[i].answerId + ((!data[i].published) ? '/answer_data/' + data[i].encryptedUrl : '' ) + (session ? '/session/' + session : '') %>" target="<%= this.target %>"><%= data[i].title %></a>
        </li>
    <% } %>
</ul>