<table id="<%= tableID %>" class="yui3-datatable-table" role="grid">
    <thead class="yui3-datatable-columns">
        <tr>
        <% for (var h=0; h < headers.length; h++) { %>
            <th class="yui3-datatable-header yui3-datatable-sortable-column"><%= headers[h].key %></th>
        <% } %>
        </tr>
    </thead>
    <tbody class="yui3-datatable-data">
    <% for (var r=0; r < data.length; r++) { %>
        <tr role="row" class="yui3-datatable-<%= (r % 2 === 0) ? 'even' : 'odd' %>">
            <% for (var j = 0; j < headers.length; j++) { %>
                <td role="gridcell" class="yui3-datatable-cell">
                <% if (data[r][j].name === 'title') { %>
                    <a href="<%=url + '/a_id/' + articles[r].answerId + ((!articles[r].published) ? '/answer_data/' + articles[r].encryptedUrl : '' ) + (session ? '/session/' + session : '') %>" target="<%= this.target %>">
                        <%= data[r][j].value %>
                    </a>
                <% } else { %>
                    <%= data[r][j].value %>
                <% } %>
                </td>
            <% } %>
        </tr>
    <% } %>
    </tbody>
</table>