<div id="<%= domPrefix %>_AnswerFeedbackForm" class="rn_AnswerFeedbackForm">
    <div id="<%= domPrefix %>_DialogDescription" class="rn_DialogSubtitle"><%= labelDialogDescription %></div>
    <div id="<%= domPrefix %>_ErrorMessage"></div>
    <rn:block id="preForm"/>
    <form>
    <rn:block id="topForm"/>
    <% if (!isProfile) { %>
        <rn:block id="preEmailInput"/>
        <label for="<%= domPrefix %>_EmailInput"><%= labelEmailAddress %>
            <%= getRequiredLabel() %>
        </label>
        <input id="<%= domPrefix %>_EmailInput"  class="rn_EmailField" type="text" value="<%= userEmail %>"/>
        <rn:block id="postEmailInput"/>
    <% } %>
    <rn:block id="preFeedbackInput"/>
    <label for="<%= domPrefix %>_FeedbackTextarea"><%= labelCommentBox %>
        <%= getRequiredLabel() %>
    </label>
    <textarea id="<%= domPrefix %>_FeedbackTextarea" class="rn_Textarea" rows="4" cols="60"></textarea>
    <rn:block id="postFeedbackInput"/>
    <rn:block id="bottomForm"/>
    </form>
    <rn:block id="postForm"/>
</div>