<rn:block id="headerData">
    <% if(headers[h].style !== ''){%>
        <% if(h === 0){%>
            <th class="yui3-datatable-header" style="<%=headers[h].style %>"><input type="checkbox" value="1" /></th>
        <%}else{%>
            <th class="yui3-datatable-header yui3-datatable-sortable-column" style="<%=headers[h].style %>"><%= headers[h].label %></th>
        <% } %>
    <%}else{%>
        <% if(h === 0){%>
            <th class="yui3-datatable-header"><input type="checkbox" value="1" /></th>
        <%}else{%>
            <th class="yui3-datatable-header yui3-datatable-sortable-column"><%= headers[h].label %></th>
        <% } %>
    <%}%>
</rn:block>
<rn:block id="columnData">
    <span id="rn_<%= instanceID %>_<%= 'r' + r + 'c' + d %>">
        <% if(d === 0){%>
            <input type="checkbox" aria-labelledby="rn_<%= instanceID %>_<%= 'r' + r + 'c' + (attrs.primary_info_column_index) %>" value="<%=rows[r][d]%>"/>
        <%}else if(d === attrs.avatar_column_index){%>
            <%= getDefaultAvatar({'userID': rows[r][0], 'avatarUrl': rows[r][d], 'size': 24, 'displayName': rows[r][attrs.user_display_name_column_index], 'isActive': (!(hiddenRows[r][attrs.status_id_column_index] in js.statuses.suspended)), 'className': 'rn_Small'})%>
        <%}else{%>
            <%= rows[r][d] %>
        <% } %>
    </span>
</rn:block>
