<rn:block id="cobrowseInvitationResponseTop"/>
<span class="rn_MessagePost">
<% if(attrs.cobrowse_icon_path){ %>
    <rn:block id="preCobrowseInvitationResponseIcon"/>
    <img alt="" src="<%= attrs.cobrowse_icon_path %>"/>
    <rn:block id="postCobrowseInvitationResponseIcon"/>
<% } %> 
<span class="rn_Action">
    <%= message.replace(/\{0\}/g, agentName) %>
    <span class="rn_CoBrowseAction">
        <%= attrs.label_click %>
        <a href="javascript: void(0);" class='rn_CoBrowsePremiumAllow' role='button' data-agentEnvironment='<%= agentEnvironment %>' data-coBrowseSessionId='<%= coBrowseSessionId %>'>
            <%= attrs.label_allow %>
        </a>
        <%= attrs.label_or %>
        <a href="javascript: void(0);" class='rn_CoBrowsePremiumDecline' role='button' >
            <%= attrs.label_deny %>
        </a>
    </span>
</span>
<br/>
</span>
<rn:block id="cobrowseInvitationResponseBottom"/>