<rn:block id="participantAddedMessageTop"/>
<div id = "rn_<%= instanceID %>_Agent_<%= clientID %>">
<% if(attrs.agent_icon_path){ %>
    <rn:block id="preParticipantAddedMessageIcon"/>
    <img alt="" src="<%= attrs.agent_icon_path %>"/>
    <rn:block id="postParticipantAddedMessageIcon"/>
<% } %>
    <span id="rn_<%= instanceID %>_AgentStatus_<%= clientID %>"><%= agentName %>&nbsp;(<%= attrs.label_status_listening %>)</span>
</div>
<rn:block id="participantAddedMessageBottom"/>
