<% var title = ""; %>

<% for (var pageNumber = 1; pageNumber <= numberOfPages; pageNumber++) {
   title = paginationLinkTitle(label_page, pageNumber, numberOfPages) %>
  <rn:block id="prePageLink"/>
  <% if (pageNumber === currentPage) {
    title = paginationLinkTitle(label_current_page, pageNumber, numberOfPages) %>
    <rn:block id="preCurrentPage"/>
    <li class="rn_CurrentPage"><span tabindex="0" title="<%= title %>" aria-label="<%= title %>"><%= pageNumber %></span></li>
    <rn:block id="postCurrentPage"/>
  <% } else if (shouldShowPageNumber(pageNumber, currentPage, numberOfPages)) { %>
    <rn:block id="preOtherPage"/>
    <li><a data-rel="<%= pageNumber %>" href="<%= pageLink(pageNumber, filter) %>" title="<%= title %>" aria-label="<%= title %>"><%= pageNumber %></a></li>
    <rn:block id="postOtherPage"/>
  <% } else if (shouldShowHellip(pageNumber, currentPage, numberOfPages)) { %>
    <rn:block id="preHellip"/>
    <li><span class="rn_PageHellip">&hellip;</span></li>
    <rn:block id="postHellip"/>
  <% } %>
  <rn:block id="postPageLink"/>
<% } %>
